<div class="contentSection" style="margin: 10px 250px">
    <a href="#"  class="section" style="border-bottom: 2px solid black">Intents</a>
    <a href="#" class="section">Documents</a>
    <a href="#" class="section">Statistics</a>
    <a href="#" class="section">Product</a>
  </div>

  <div class="body_section">
    <div> Basic Information</div>
    <div class="basic_setup" > 
      <div class="personale_info">
        <div class="header">Model Name</div>
        <div class="content">Sample Model Name</div>
      </div>
      <div class="personale_info">
        <div class="header">Model Description</div>
        <div class="content">Point of Sale data from Reliance Fresh</div>
      </div>
    </div>
    <div>


        <div> Parameters </div>
        <div class="basic_setup" > 
          <div class="personale_info">
            <span ><input type="checkbox" value="true"><span> Auto Suggest Convolutional Neural Networks</span></span>
          </div>
          <div class="personale_info">
            <div class="header">Input Layer Dimension</div>
            <div class="content">200%</div>
          </div>
          <div class="personale_info">
            <div class="header">Validation to Train Ratio</div>
            <div class="content">48%</div>
          </div>
          <div class="personale_info">
            <div class="header">Miscellaneous Ratio</div>
            <div class="content">12%</div>
          </div>
         
        </div>
        <div>
   
</div>
  </div>